In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("D:/Train_UWu5bXk.csv")
df.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [3]:
#Here i'm imputing the missing valueby the mean value of item_visiblity
df['Item_Visibility'].replace(0,np.mean(df['Item_Visibility']),inplace=True)

In [5]:
#here i have select size of store small because from probablity i see most of time small size store gives large sales
df['Outlet_Size'].fillna('Small',inplace=True)

In [6]:
#here i also impute with mean value
df['Item_Weight']=df['Item_Weight'].fillna(df['Item_Weight'].mean())
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200000,Regular,0.066132,Fruits and Vegetables,182.0950,OUT010,1998,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.930000,Low Fat,0.066132,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395000,Regular,0.066132,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650000,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,12.857645,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200000,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,Small,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200000,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,Small,Tier 2,Supermarket Type1,4710.5350
10,FDY07,11.800000,Low Fat,0.066132,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.500000,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.100000,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.600000,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.350000,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
15,FDP49,9.000000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
16,NCB42,11.800000,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
17,FDP49,9.000000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,718.3982
18,DRI11,12.857645,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
19,FDU02,13.350000,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
20,FDN22,18.850000,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
21,FDW12,12.857645,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
22,NCB30,14.600000,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
23,FDC37,12.857645,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
24,FDR28,13.850000,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
25,NCD06,13.000000,Low Fat,0.099887,Household,45.9060,OUT017,2007,Small,Tier 2,Supermarket Type1,838.9080
26,FDV10,7.645000,Regular,0.066693,Snack Foods,42.3112,OUT035,2004,Small,Tier 2,Supermarket Type1,1065.2800
27,DRJ59,11.650000,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
28,FDE51,5.925000,Regular,0.161467,Dairy,45.5086,OUT010,1998,Small,Tier 3,Grocery Store,178.4344
29,FDC14,12.857645,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8493,FDP21,7.420000,Regular,0.025886,Snack Foods,189.1872,OUT017,2007,Small,Tier 2,Supermarket Type1,4727.1800
8494,NCI54,15.200000,Low Fat,0.066132,Household,110.4912,OUT017,2007,Small,Tier 2,Supermarket Type1,1637.8680
8495,FDE22,9.695000,Low Fat,0.029567,Snack Foods,160.4920,OUT035,2004,Small,Tier 2,Supermarket Type1,4314.3840
8496,FDJ57,7.420000,Regular,0.021696,Seafood,185.3582,OUT017,2007,Small,Tier 2,Supermarket Type1,3715.1640
8497,FDT08,13.650000,Low Fat,0.049209,Fruits and Vegetables,150.0050,OUT035,2004,Small,Tier 2,Supermarket Type1,2247.0750
8498,NCP54,15.350000,Low Fat,0.035293,Household,124.5730,OUT018,2009,Medium,Tier 3,Supermarket Type2,1601.2490
8499,NCK53,11.600000,Low Fat,0.037574,Health and Hygiene,100.0042,OUT035,2004,Small,Tier 2,Supermarket Type1,2976.1260
8500,NCQ42,20.350000,Low Fat,0.066132,Household,125.1678,OUT017,2007,Small,Tier 2,Supermarket Type1,1907.5170
8501,FDW21,5.340000,Regular,0.005998,Snack Foods,100.4358,OUT017,2007,Small,Tier 2,Supermarket Type1,1508.0370
8502,NCH43,8.420000,Low Fat,0.070712,Household,216.4192,OUT045,2002,Small,Tier 2,Supermarket Type1,3020.0688
8503,FDQ44,20.500000,Low Fat,0.036133,Fruits and Vegetables,120.1756,OUT035,2004,Small,Tier 2,Supermarket Type1,3392.9168
8504,NCN18,12.857645,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128
8505,FDB46,10.500000,Regular,0.094146,Snack Foods,210.8244,OUT018,2009,Medium,Tier 3,Supermarket Type2,2117.2440
8506,DRF37,17.250000,Low Fat,0.084676,Soft Drinks,263.1910,OUT018,2009,Medium,Tier 3,Supermarket Type2,3944.8650
8507,FDN28,5.880000,Regular,0.030242,Frozen Foods,101.7990,OUT035,2004,Small,Tier 2,Supermarket Type1,515.9950
8508,FDW31,11.350000,Regular,0.043246,Fruits and Vegetables,199.4742,OUT045,2002,Small,Tier 2,Supermarket Type1,2587.9646
8509,FDG45,8.100000,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,Small,Tier 3,Grocery Store,424.7804
8510,FDN58,13.800000,Regular,0.056862,Snack Foods,231.5984,OUT035,2004,Small,Tier 2,Supermarket Type1,7182.6504
8511,FDF05,17.500000,Low Fat,0.026980,Frozen Foods,262.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2,4207.8560
8512,FDR26,20.700000,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392
8513,FDH31,12.000000,Regular,0.020407,Meat,99.9042,OUT035,2004,Small,Tier 2,Supermarket Type1,595.2252
8514,FDA01,15.000000,Regular,0.054489,Canned,57.5904,OUT045,2002,Small,Tier 2,Supermarket Type1,468.7232
8515,FDH24,20.700000,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2,1571.2880
8516,NCJ19,18.600000,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2,858.8820
8517,FDF53,20.750000,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
8518,FDF22,6.865000,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380000,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Small,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600000,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210000,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800000,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [7]:
#searching for categorical variable 
df_obj=df.select_dtypes(include=['object']).copy()
df_obj.head(2)

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,Low Fat,Dairy,OUT049,Medium,Tier 1,Supermarket Type1
1,DRC01,Regular,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2

In [8]:
#here i converted categorical varible with dummies 
df1=pd.get_dummies(df,columns=['Item_Fat_Content','Item_Type','Outlet_Size','Outlet_Location_Type','Outlet_Type'],prefix_sep='_',drop_first=True,)
df1.head(2)

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,...,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,FDA15,9.30,0.016047,249.8092,OUT049,1999,3735.1380,1,0,0,...,0,0,0,1,0,0,0,1,0,0
1,DRC01,5.92,0.019278,48.2692,OUT018,2009,443.4228,0,1,0,...,0,1,0,1,0,0,1,0,1,0

In [15]:
# as we know our target variable is item outlet sales
df3=df1.Item_Outlet_Sales

In [16]:
df4=df1.drop(['Item_Outlet_Sales','Outlet_Identifier','Item_Identifier'],axis=1)
df4

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Breads,Item_Type_Breakfast,...,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.300000,0.016047,249.8092,1999,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,5.920000,0.019278,48.2692,2009,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
2,17.500000,0.016760,141.6180,1999,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
3,19.200000,0.066132,182.0950,1998,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
4,8.930000,0.066132,53.8614,1987,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
5,10.395000,0.066132,51.4008,2009,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
6,13.650000,0.012741,57.6588,1987,0,1,0,0,0,0,...,1,0,0,0,0,0,1,1,0,0
7,12.857645,0.127470,107.7622,1985,1,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1
8,16.200000,0.016687,96.9726,2002,0,1,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
9,19.200000,0.094450,187.8214,2007,0,1,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
10,11.800000,0.066132,45.5402,1999,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
11,18.500000,0.045464,144.1102,1997,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
12,15.100000,0.100014,145.4786,1999,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
13,17.600000,0.047257,119.6782,1997,0,1,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
14,16.350000,0.068024,196.4426,1987,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
15,9.000000,0.069089,56.3614,1997,0,1,0,0,0,1,...,0,0,0,0,1,0,0,1,0,0
16,11.800000,0.008596,115.3492,2009,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
17,9.000000,0.069196,54.3614,1999,0,1,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
18,12.857645,0.034238,113.2834,1985,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
19,13.350000,0.102492,230.5352,2004,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
20,18.850000,0.138190,250.8724,1987,0,1,0,0,0,0,...,1,0,0,0,0,0,1,1,0,0
21,12.857645,0.035400,144.5444,1985,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
22,14.600000,0.025698,196.5084,2004,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
23,12.857645,0.057557,107.6938,1985,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
24,13.850000,0.025896,165.0210,1997,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
25,13.000000,0.099887,45.9060,2007,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
26,7.645000,0.066693,42.3112,2004,0,1,0,0,0,0,...,1,0,0,0,1,1,0,1,0,0
27,11.650000,0.019356,39.1164,1987,0,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
28,5.925000,0.161467,45.5086,1998,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
29,12.857645,0.072222,43.6454,1985,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8493,7.420000,0.025886,189.1872,2007,0,1,0,0,0,0,...,1,0,0,0,1,1,0,1,0,0
8494,15.200000,0.066132,110.4912,2007,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8495,9.695000,0.029567,160.4920,2004,1,0,0,0,0,0,...,1,0,0,0,1,1,0,1,0,0
8496,7.420000,0.021696,185.3582,2007,0,1,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8497,13.650000,0.049209,150.0050,2004,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8498,15.350000,0.035293,124.5730,2009,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
8499,11.600000,0.037574,100.0042,2004,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8500,20.350000,0.066132,125.1678,2007,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8501,5.340000,0.005998,100.4358,2007,0,1,0,0,0,0,...,1,0,0,0,1,1,0,1,0,0
8502,8.420000,0.070712,216.4192,2002,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8503,20.500000,0.036133,120.1756,2004,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8504,12.857645,0.124111,111.7544,1985,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
8505,10.500000,0.094146,210.8244,2009,0,1,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
8506,17.250000,0.084676,263.1910,2009,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
8507,5.880000,0.030242,101.7990,2004,0,1,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8508,11.350000,0.043246,199.4742,2002,0,1,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8509,8.100000,0.214306,213.9902,1998,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
8510,13.800000,0.056862,231.5984,2004,0,1,0,0,0,0,...,1,0,0,0,1,1,0,1,0,0
8511,17.500000,0.026980,262.5910,2009,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
8512,20.700000,0.042801,178.3028,1987,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
8513,12.000000,0.020407,99.9042,2004,0,1,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8514,15.000000,0.054489,57.5904,2002,0,1,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8515,20.700000,0.021518,157.5288,2009,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
8516,18.600000,0.118661,58.7588,2009,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,1,0
8517,20.750000,0.083607,178.8318,1997,0,0,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0
8518,6.865000,0.056783,214.5218,1987,1,0,0,0,0,0,...,1,0,0,0,0,0,1,1,0,0
8519,8.380000,0.046982,108.1570,2002,0,1,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8520,10.600000,0.035186,85.1224,2004,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
8521,7.210000,0.145221,103.1332,2009,0,1,0,0,0,0,...,1,0,0,1,0,0,1,0,1,0
8522,14.800000,0.044878,75.4670,1997,1,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0

In [17]:
from sklearn import ensemble
from sklearn.ensemble import GradientBoostingRegressor
model = ensemble.GradientBoostingRegressor()
model.fit(df4, df3)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [35]:
y_pred=model.predict(test_f)
y_pred
# from sklearn.metrics import mean_squared_error
# # y_pred = model.predict(X_test)
# model_mse = mean_squared_error(y_pred, df3)
# model_rmse = np.sqrt(model_mse)
# print('Gradient Boosting RMSE: %.4f' % model_rmse)

array([ 1543.85872135,  1443.95901902,   668.84664181, ...,  1844.64570507,
        3728.91634285,  1318.97666966])

In [63]:
df6 = pd.DataFrame(pd.DataFrame(model.predict(test_f)).rename(columns={0:"Item_Outlet_Sales"}))
df6.head()

   Item_Outlet_Sales
0        1543.858721
1        1443.959019
2         668.846642
3        2868.770142
4        5841.156468

In [18]:
test_df = pd.read_csv("D:/Test_u94Q5KV.csv")
test_df.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.75,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.30,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1

In [19]:
test_df['Item_Visibility'].replace(0,np.mean(df['Item_Visibility']),inplace=True)

In [20]:
test_df['Outlet_Size'].fillna('Small',inplace=True)

In [21]:
# df['Item_Weight'].fillna(df['Item_Weight'].mean())

In [22]:
test_df['Item_Weight']=test_df['Item_Weight'].fillna(df['Item_Weight'].mean())

In [23]:
df_obj=test_df.select_dtypes(include=['object']).copy()
df_obj.head(2)

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,Low Fat,Snack Foods,OUT049,Medium,Tier 1,Supermarket Type1
1,FDW14,reg,Dairy,OUT017,Small,Tier 2,Supermarket Type1

In [24]:
test_df1=pd.get_dummies(test_df,columns=['Item_Type','Item_Fat_Content','Outlet_Size','Outlet_Location_Type','Outlet_Type'],prefix_sep='_',drop_first=True,)
test_df1.head(2)

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,...,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,FDW58,20.75,0.007565,107.8622,OUT049,1999,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,FDW14,8.30,0.038428,87.3198,OUT017,2007,0,0,0,1,...,0,0,1,0,1,1,0,1,0,0

In [25]:
test_f=test_df1.drop(['Item_Identifier','Outlet_Identifier'],axis=1)
test_f.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,Item_Type_Fruits and Vegetables,...,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,20.750000,0.007565,107.8622,1999,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,8.300000,0.038428,87.3198,2007,0,0,0,1,0,0,...,0,0,1,0,1,1,0,1,0,0
2,14.600000,0.099575,241.7538,1998,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
3,7.315000,0.015388,155.0340,2007,0,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
4,12.857645,0.118599,234.2300,1985,0,0,0,1,0,0,...,1,0,0,1,0,0,1,0,0,1

In [65]:
df7=pd.DataFrame(test_df[['Item_Identifier','Outlet_Identifier']])

In [73]:
F=pd.concat([df7,df6], axis=1)
F.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        1543.858721
1           FDW14            OUT017        1443.959019
2           NCN55            OUT010         668.846642
3           FDQ58            OUT017        2868.770142
4           FDY38            OUT027        5841.156468

In [81]:
F.to_csv("D://R_S_DataAnalytics//A_V_submission.csv")

In [ ]:
# sns.distplot(df1['Item_Outlet_Sales']);
# plt.show()
# #Deviate from the normal distribution.
# #Have appreciable positive skewness.
# #Show peakedness.

In [ ]:
# print("Skewness: %f" % df1["Item_Outlet_Sales"].skew())
# print("Kurtosis: %f" % df1["Item_Outlet_Sales"].kurt())

In [ ]:
# #correlation matrix
# corrmat = df_obj1.corr()
# f, ax = plt.subplots(figsize=(7, 8))
# sns.heatmap(corrmat, vmax=.8, square=True);
# plt.show()

In [ ]:
# #sales correlation matrix
# k = 12 #number of variables for heatmap
# cols = corrmat.nlargest(k, 'Item_Outlet_Sales')['Item_Outlet_Sales'].index
# cm = np.corrcoef(df1[cols].values.T)
# sns.set(font_scale=1.25)
# hm = sns.heatmap(cm, cbar=True, annot=True, square=True, fmt='.2f', annot_kws={'size': 10}, yticklabels=cols.values, xticklabels=cols.values)
# plt.show()

In [ ]:
# #scatterplot
# sns.set()
# cols = ['Item_Outlet_Sales', 'Item_MRP', 'Outlet_Establishment_Year', 'Item_Visibility']
# sns.pairplot(df1[cols], size = 2.5)
# plt.show();